* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* COMMON */

.social-distance{
    display: inline-block;
    padding-right: 15px;
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    color: white;
}

.links li {
    list-style-type: none;
}

.container {
    width: 80%;
    margin: 0 auto;   
}

.sect-container {
    width: 70%;
    margin: 0 auto;
}
.flex {
    display: flex;
}

.btn {
    display: inline-block;
    border-radius: 2rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 25px;
}
.sect-text {
    font-size: 1.5rem;
}

/* HEADER */
header {
    padding-top: 10px;
    min-height: 60px;
    background-color: #255ee9;
}
.links {
    flex-grow: 1;
}
.c2 {
    display: flex;
    justify-content: center;
}
.c2 li {
    margin: 0 1rem;
}
.flex-container {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    min-height: 35px;
    justify-content: center;
    align-items: center;
}
.c1 {
    width: 20%;
}
.c3{
    width: 20%;
    text-align: right;
}
.nav-btn {
    color: black;    
    background-color: white; 
    padding: .5em 1em;  
}


/* HERO */

.hero {
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-position: center;
    min-height: 650px;
    padding-top: 50px;
}
.hero-cont {
    width: 40%;
    margin: 0 auto;
}
.hero-sect {
    padding-top: 6rem;
    min-height: 300px;
    width: 100%;
    text-align: center;
    color: white;
}
h1 {
    font-size: 3rem;
}
.hero-text {
    padding-top: 1rem;
    font-size: 1.5rem;
}
.hero-btn {
    text-align: center;
    font-size: 1.5rem;
    justify-content: center;
    gap: 30px;
}
.h-btn1 {
    color: black;
    background-color: white;
    padding: .5em 1em;
}

.h-btn2 {
    background-color: #23272a;
    padding: .5em 1em;
}


/* CONTENT */

/* First and Third section */

.first-sec {
    /* justify-content: center; */
    align-items: center;
}

.white-sect {
    background-color: white;
    padding-top: 50px;
}
.w-sect-col1 {
    width: 50%;
    text-align: right;
}
.w-sect-col2 {
    width: 30%;
    text-align: left;
   /* background-color: #ffc0cb; */
}

/* Second section */

.second-sect {
    justify-content: center;
}
.gray-sect {
    background-color: #f6f6f6;
}
.g-sect-col1 {
    width: 20%;
    text-align: left;
}
.g-sect-col2{
    width: 60%;
    text-align: right;
}

/* Fourth section */

.big {
    padding-top: 50px;
}
.big-cont {
    width: 100%;
}
.big-cont img {
    width: 100%;
}
.last-sect-text {
    text-align: center;
}
.bottom-sect h3 {
    padding: 2rem 0;
    font-size: 2rem;
}

.bottom-sect {
    padding-bottom: 50px;
}
.s-btn {
    font-size: 1.5rem;
    color: white;
    background-color: #7289da;
    padding: 15px 20px;
}

/* FOOTER */
/* Footer Top  */
.footer-cont {
    justify-content: space-between;
}
.footer-bg {
    background-color: #23272a;
    padding-top: 50px;
}
.f-title{
    color: #7289da;
    font-size: 2rem;
    text-align: left;
}
.f-col1 img{
    width: 10%;
}

.f-col1 {
    width: 20%;
    color: white;
}
.socials {
    padding: 10px;
}
.f-col2 {
    width: 70%;
}
h4{
    color: #7289da;
}

.col-list li {
    margin: 20px 0;
}
.f-in-col li {
    list-style-type: none;
}
.f-in-col {
    width: calc(100% / 4);
    color: white;
}
/* Footer Bottom */
.footer-bar {
    padding-top: 50px;
}
.f-flex-cont{
    border-top: 1px solid #7289da;
    min-height: 50px;
    margin-top: 20px;
    padding-bottom: 50px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.registration {
    background-color: #7289da;
    padding: 10px 15px;
}
/* MORE DETAILS */
/* Stars */
.title-bg {
    width: 55%;
    margin: 0 auto;
}
.h3-bg {
    background-image: url(../img/stars.svg);
    background-size: cover;
}
/* Wave */
.wave-sect {
    width: 100%;
    min-height: 60px;
    padding-top: 50px;
}
.wave {
    background-color: white;
    -webkit-mask: url(../img/wave.svg) repeat 50% 50%;
    padding-top: 150px;
}
.wave-rotated {
    background-color: #f6f6f6;
    -webkit-mask: url(../img/wave.svg) repeat 50% 50%;
    -webkit-filter: hue-rotate(180deg);
    padding-top: 150px;
}