* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* COMMON */

.social-distance{
    display: inline-block;
    padding-right: 15px;
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    color: white;
}

.links li {
    list-style-type: none;
}

.container {
    width: 80%;
    margin: 0 auto;   
}

.sect-container {
    width: 70%;
    margin: 0 auto;
}
.flex {
    display: flex;
}

.btn {
    display: inline-block;
    border-radius: 2rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 25px;
}
.sect-text {
    font-size: 1.5rem;
}

/* HEADER */
header {
    padding-top: 10px;
    min-height: 60px;
    background-color: #255ee9;
}
.links {
    flex-grow: 1;
}
.c2 {
    display: flex;
    justify-content: center;
}
.c2 li {
    margin: 0 1rem;
}
.flex-container {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    min-height: 35px;
    justify-content: center;
    align-items: center;
}
.c1 {
    width: 20%;
}
.c3{
    width: 20%;
    text-align: right;
}
.nav-btn {
    color: black;    
    background-color: white; 
    padding: 10px 15px;  
    padding: .5em 1em;  
}


/* HERO */

.hero {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    min-height: 650px;
    padding-top: 50px;
}
.hero-cont {
    width: 40%;
    margin: 0 auto;
}
.hero-sect {
    padding-top: 6rem;
    min-height: 300px;
    width: 100%;
    text-align: center;
    color: white;
}
h1 {
    font-size: 3rem;
}
.hero-text {
    padding-top: 1rem;
    font-size: 1.5rem;
}
.hero-btn {
    text-align: center;
    font-size: 1.5rem;
    justify-content: center;
    gap: 30px;
}
.h-btn1 {
    color: black;
    background-color: white;
    padding: .5em 1em;
}

.h-btn2 {
    background-color: #23272a;
    padding: .5em 1em;
}


/* CONTENT */
.white-sect {
    background-color: white;
    min-height: 500px;
    padding-top: 50px;
}
.w-sect-col1 {
    width: 60%;
    min-height: 400px;
    background-color: #1e90ff;
}
.w-sect-col2 {
    width: 40%;
    min-height: 400px;
    background-color: #ffc0cb;
}
.normal {
    min-height: 500px;
    padding-top: 50px;
}
.gray-sect {
    background-color: #d3d3d3;
}
.g-sect-col1 {
    width: 40%;
    min-height: 400px;
    background-color: #ffc0cb;
}
.g-sect-col2{
    width: 60%;
    min-height: 400px;
    background-color: #1e90ff;
}
.big {
    min-height: 900px;
    padding-top: 50px;
}
.big-cont {
    width: 100%;
    min-height: 800px;
    background-color: #228b22;
}

/* FOOTER */
.footer-bg {
    background-color: #23272a;
    min-height: 600px;
    padding-top: 50px;
}
.f-col1 {
    width: 30%;
    min-height: 500px;
    background-color: #f08080;
}
.f-col2 {
    width: 70%;
    min-height: 500px;
    background-color: #20b2aa;
}
.f-in-col {
    border: 1px dashed white;
    width: calc(100% / 4);
}
hr {
    color: white;
}
.footer-bar {
    padding-top: 50px;
}
.f-flex-bg {
    background-color: #7fffd4;
}
.low-f-col {
    border: 1px dashed black;
    background-color: #ffb6c1;
}
.f-flex-cont{
    min-height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
